.btn:hover {
    box-shadow: 0px 5px 5px rgb(230, 0, 18, 0.3);
}

.btn-MenuCarousel:hover {
    border-top: solid #E60012;
    font-weight: bold;
}

.custom-hover:hover,
.card:hover {

    box-shadow:
        0px 0px 20px rgba(0, 0, 0, 0.23);

}

.custom-hover>div:hover {
    box-shadow: 0px 5px 0px #E60012;
}

.btn-card {
    border: 1px solid rgb(225, 228, 232);
}

.btn-card:hover {
    border: 1px solid #E60012;
    box-shadow: 0px 0px 0px;

}

@media (min-width:992px) {
    .rounded-lg-0 {
        border-radius: 0 !important;
    }

}

/* #playersSwitch {
    position: relative;
} */