$prefix: -bs;
$utilities: (
    ) !default;

$utilities: map-merge($utilities,
        ("rounded": (property: border-radius,
                class: rounded,
                responsive : true,
                values: (null: var(--#{$prefix}border-radius),
                    0: 0,
                    1: var(--#{$prefix}border-radius-sm),
                    2: var(--#{$prefix}border-radius),
                    3: var(--#{$prefix}border-radius-lg),
                    4: var(--#{$prefix}border-radius-xl),
                    5: var(--#{$prefix}border-radius-xxl),
                    circle: 50%,
                    pill: var(--#{$prefix}border-radius-pill))),
            "rounded-top": (property: border-top-left-radius border-top-right-radius,
                class: rounded-top,
                responsive : true,
                values: (null: var(--#{$prefix}border-radius),
                    0: 0,
                    1: var(--#{$prefix}border-radius-sm),
                    2: var(--#{$prefix}border-radius),
                    3: var(--#{$prefix}border-radius-lg),
                    4: var(--#{$prefix}border-radius-xl),
                    5: var(--#{$prefix}border-radius-xxl),
                    circle: 50%,
                    pill: var(--#{$prefix}border-radius-pill))),
            "rounded-end": (property: border-top-right-radius border-bottom-right-radius,
                class: rounded-end,
                responsive : true,
                values: (null: var(--#{$prefix}border-radius),
                    0: 0,
                    1: var(--#{$prefix}border-radius-sm),
                    2: var(--#{$prefix}border-radius),
                    3: var(--#{$prefix}border-radius-lg),
                    4: var(--#{$prefix}border-radius-xl),
                    5: var(--#{$prefix}border-radius-xxl),
                    circle: 50%,
                    pill: var(--#{$prefix}border-radius-pill))),
            "rounded-bottom": (property: border-bottom-right-radius border-bottom-left-radius,
                class: rounded-bottom,
                responsive : true,
                values: (null: var(--#{$prefix}border-radius),
                    0: 0,
                    1: var(--#{$prefix}border-radius-sm),
                    2: var(--#{$prefix}border-radius),
                    3: var(--#{$prefix}border-radius-lg),
                    4: var(--#{$prefix}border-radius-xl),
                    5: var(--#{$prefix}border-radius-xxl),
                    circle: 50%,
                    pill: var(--#{$prefix}border-radius-pill))),
            "rounded-start": (property: border-bottom-left-radius border-top-left-radius,
                class: rounded-start,
                responsive : true,
                values: (null: var(--#{$prefix}border-radius),
                    0: 0,
                    1: var(--#{$prefix}border-radius-sm),
                    2: var(--#{$prefix}border-radius),
                    3: var(--#{$prefix}border-radius-lg),
                    4: var(--#{$prefix}border-radius-xl),
                    5: var(--#{$prefix}border-radius-xxl),
                    circle: 50%,
                    pill: var(--#{$prefix}border-radius-pill))))
);