$primary: #E60012;
$light: #F2F2F2;

$position-values: (
    0: 0,
    5:5%,
    10:10%,
    15:15%,
    20:20%,
    25:25%,
    35:35%,
    50: 50%,
    65:65%,
    70: 70%,
    75:75%,
    100: 100%
);